.asteroid, .big {
    font-weight: bold;
}

.asteroid {
    border: 1px solid green;
    font-weight: bold;
}

.big {
    background: yellow;
    font-weight: normal;
    border: none;
    color: blue;
}

.b329 {
    font-weight: bold;
    background: none;
}